/* Mobile Styles */
@media only screen and (max-width: 767px) {

    .jumbotron{
        padding: 50px 0 !important;
    }

    .jumbotron h1{
        font-size: 2rem !important;
    }

    .section{
        padding: 30px 0 !important;
    }

    .section-heading{
        font-size: 22px !important;
        margin-bottom: 25px !important;
    }

    #about .right .picture{
        margin-bottom: 15px !important;
    }

    #about .last .wrapper p{
        margin-bottom: 0 !important;
    }

    #products .col-md-4{
        margin-bottom: 15px !important;
    }

    #whyus .spacer{
        display: none !important;
    }

    #whyus .wrapper{
        padding-right: 0 !important;
        text-align: center !important;
        margin-bottom: 15px !important;
    }

    #whyus h5{
        font-size: 14px !important;
    }

    #whyus p{
        font-size: 12px !important;
    }

    .team-member{
        margin-bottom: 0 !important;
    }

    .team-heading {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }

    .team-member h5 {
        font-size: 1rem;
    }

    .team-member p {
        font-size: 0.9rem;
    }

    .team-member img {
        height: 100% !important;
        width: 100% !important;
        transform: scale(1.5) !important;
        object-fit: cover;
        object-position: top;
    }

    #contactus .wrapper{
        margin-bottom: 15px !important;
        border-bottom: solid 1px #00aca8;
        padding-bottom: 35px;
        padding-top: 20px;
    }

    #contactus .col-md-4:last-child .wrapper{
        margin-bottom: 0 !important;
        border: 0 !important;
    }

    #contactus .wrapper .info p{
        font-size: 15px !important;
    }

    #contactus .wrapper .icon{
        flex: 50% !important;
        text-align: center !important;
    }

    #contactus .wrapper .icon img{
        width: 45px !important;
    }

    footer p{
        font-size: 12px !important;
    }
    
    .default-btn{
        font-size: 13px !important;
    }
}
  
  /* Tablet Styles */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {

}