/* Mobile Styles */
@media only screen and (max-width: 767px) {

    .jumbotron{
        padding: 50px 0 !important;
    }

    .jumbotron h1{
        font-size: 2.5rem !important;
    }

    .section{
        padding: 30px 0 !important;
    }

    .section-heading{
        font-size: 22px !important;
        margin-bottom: 25px !important;
    }

    #about .right .picture{
        margin-bottom: 15px !important;
    }

    #about .last .wrapper p{
        margin-bottom: 0 !important;
    }

    #products .col-md-4{
        margin-bottom: 15px !important;
    }

    #whyus .spacer{
        display: none !important;
    }

    #whyus .wrapper{
        padding-right: 0 !important;
        text-align: center !important;
        margin-bottom: 15px !important;
    }

    #whyus h5{
        font-size: 15px !important;
    }
}
  
  /* Tablet Styles */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {

}